{% extends 'base.html' %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}
    <section class="max-w-screen-sm mx-auto">
        <div class="flex justify-between items-baseline">
            <h1 class="text-3xl font-semibold text-center mb-8">Editar usuario</h1>
            <a class="px-5 py-2 border border-black rounded-full bg-[#A5A58D] hover:brightness-110" href="{% url 'users:list' %}">Volver</a>
        </div>
        <form class="grid grid-cols-1 gap-4 p-6 bg-[#F0EFEB] border border-[#A5A58D] rounded"  method="POST">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="id_nombre" class="font-medium text-gray-900 mb-2">Nombre</label>
                {{ form.username }}
            </div>

            <div class="flex flex-col">
                <label for="id_descripcion" class="font-medium text-gray-900 mb-2">Email</label>
                {{ form.email }}
            </div>

            <div class="flex flex-col">
                <label for="id_precio" class="font-medium text-gray-900 mb-2">Teléfono</label>
                {{ form.phone }}
            </div>

            <div class="flex flex-col">
                <label for="id_stock" class="font-medium text-gray-900 mb-2">Dirección</label>
                {{ form.address }}
            </div>
            <div class="justify-self-end">
                <button type="submit" class="px-5 py-2 border border-black rounded-full bg-[#A5A58D] hover:brightness-110">Editar usuario</button>
            </div>
        </form>
    </section>
{% endblock %}
