{% extends 'base.html' %} {% load static %} {% block title %} Carrito {% endblock %} {% block content %}
<section class="flex flex-col items-center justify-center">
    <h1 class="uppercase text-3xl text-center pb-12" >Detalles pago</h1>
    <div class="w-full max-w-screen-md h-[500px] border border-[#A5A58D] rounded-md bg-[#F0EFEB] grid place-content-center">
      <form class="flex flex-col gap-3" method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        <label class="text-sm text-gray-800" for="nombre">Nombre en la tarjeta</label>
        <input name="nombre" type="text" class="rounded-md border px-2 py-1">
        <label class="text-sm text-gray-800" for="numero">N° de la tarjeta</label>
        <input name="numero" type="text" class="rounded-md border px-2 py-1">
        <label class="text-sm text-gray-800" for="cvv">CVV</label>
        <input name="cvv" type="text" class="rounded-md border px-2 py-1 mb-4">

        <label class="text-sm text-gray-800" for="direccion_envio">Dirección de envío</label>
        <input type="text" id="direccion_envio" class="rounded-md border px-2 py-1 mb-4" name="direccion_envio" required>

        <label  class="text-sm text-gray-800" for="monto_total">Monto total:</label>
        <input disabled  class="rounded-md border px-2 py-1 mb-4" type="text" id="monto_total" name="monto_total" readonly value="{{ total }}">

        <div class="flex justify-between gap-3">
            <a class="px-3 py-1  rounded-full border border-black hover:brightness-110 " href="{% url 'carrito' %}">Volver</a>
            <button class="px-3 py-1  rounded-full border border-black bg-[#A5A58D] hover:brightness-110 ">Realizar pago</button>
        </div>
      </form>
    </div>

</section>
{% endblock %}
