{% extends 'base.html' %} {% load static %} {% block title %} {{ producto.nombre }} - eGESVEN {% endblock %} {% block content %}
    <section class="grid grid-cols-2 gap-3 w-full p-4 rounded-md bg-[#F0EFEB] border border-black max-w-screen-md mx-auto">
        <img src="{% static 'media/vinyl.jpg' %}" class="rounded-md w-full" alt="{{ producto.nombre }}" />
        <div>
            <h2 class="pt-2 pb-1 font-bold text-2xl">{{ producto.nombre }}</h2>
            <p class="text-gray-800 text-md italic pb-2">{{ producto.descripcion }}</p>
            <p class="text-gray-800 text-sm" >Stock: {{ producto.stock }}, Categoría: {{ producto.categoria.nombre }}</p>
            <p class="text-gray-800 text-lg pt-6" >Precio: <span class="font-bold">$ {{ producto.precio }}</span></p>
        </div>
        <div class="col-span-2 flex justify-end gap-3 pt-4 px-2">
            <div class="flex">
                <button id="minus-btn" class="px-3 py-2 border border-black rounded-full border-r-0 rounded-r-none bg-[#EDDCD2]">
                    <svg class="w-6 h-6" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_68_311)">
                    <path d="M10 15H20M27.5 15C27.5 21.9036 21.9036 27.5 15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_68_311">
                    <rect width="30" height="30" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </button>
                <span id="quantity" class="px-6 py-2 bg-white font-bold border border-black">0</span>
                <button id="plus-btn" class="px-3 py-2 border border-black rounded-full border-l-0 rounded-l-none bg-[#EDDCD2]">
                    <svg class="w-6 h-6" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_68_309)">
                    <path d="M15 10V20M10 15H20M27.5 15C27.5 21.9036 21.9036 27.5 15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_68_309">
                    <rect width="30" height="30" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </button>
            </div>
        <button class="px-3 py-1  rounded-full border border-black bg-[#EDDCD2]" id="add-to-cart"  data-id="{{ producto.id }}">Agregar al Carrito</button>
        </div>
    </section>
{% endblock %}
